---
import Layout from "@layouts/Layout.astro";
import MenuEntry from "@components/MenuEntry.astro";
import Banner from "@components/Banner.astro";
import Game from "@components/Game.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="nilsjha.github.io">
  <main class="grow py-20 container mx-auto gap-8 w-100">
    <div class="flex flex-col items-center content-center w-100 gap-2">
      <Game framesource="https://archive.org/embed/dangerous_dave_1990" />
    </div>
  </main>
  <Footer home={true} separator={true}>
    <span
      ><a
        class="_hotlink"
        target="_blank"
        href="https://archive.org/details/dangerous_dave_1990"
        >internet archive</a
      ></span
    >
  </Footer>
</Layout>
