---
import Layout from "@layouts/Layout.astro";
import Game from "@components/Game.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="nilsjha.github.io">
  <main class="grow py-20 container mx-auto gap-8 w-100">
    <div class="flex flex-col items-center content-center w-100 gap-2">
      <Game framesource="https://archive.org/embed/Outrun_DOS" />
    </div>
  </main>
  <Footer home={true} />
</Layout>
