---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/Banner.astro";
import MenuEntry from "@components/MenuEntry.astro";
import Footer from "@components/Footer.astro";
import MenuSpacer from "@components/MenuSpacer.astro";
import MenuList from "@components/MenuList.astro";
---

<Layout title="nilsjha.github.io">
  <main class="grow py-20 container mx-auto">
    <Banner
      org="Games from"
      deptChar="IA"
      dept="Internet Archive"
      title="spel"
      help1=""
      help2=""
    />
    <MenuList>
      <MenuEntry
        href="/"
        title="Hovudmeny (Home)"
        body="RETURNER til forrige side"
      />
      <MenuSpacer />
      <MenuEntry href="/games/space" title="Space Commanders" body="" />
      <MenuEntry href="/games/digger" title="Digger" body="" />
      <MenuEntry href="/games/dave" title="Dave" body="" />
      <MenuEntry href="/games/outrun" title="Outrun2" body="" />
      <MenuSpacer />
      <MenuEntry
        href="https://archive.org/details/softwarelibrary_msdos_games"
        title="More games"
        body="Hosted at Internet Archive"
      />
    </MenuList>
  </main>
  <Footer />
</Layout>
