---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/Banner.astro";
import MenuEntry from "@components/MenuEntry.astro";
import MenuSpacer from "@components/MenuSpacer.astro";
import MenuList from "@components/MenuList.astro";
import Footer from "@components/Footer.astro";
import Screen from "@components/Screen.astro";
---

<Layout title="nilsjha.github.io">
    <Banner
      orgChar="NJ"
      org="Nils J."
      deptChar="H"
      dept="Haugen"
      help1="Tech, photography, hiking"
      help2="software, fishing, bricks..."
    />
    <Screen>
      <div class="m-4">
      <div class="flex flex-col items-center justify-center  mx-auto w-2/3 gap-2">
        <p class="">
        <span class="text-4xl">W</span>elcome to my humble corner at the web!
        </p>
      <p>
        This page is a tribute to the first computer I owned myself, and which inspired me to work with tech in the first place.
        Have fun, and play some retrogames!<span class="text-black bg-white">&nbsp;</span>
      </p>
      </div>
      </div>
    <MenuList>
      <MenuSpacer />
      <MenuEntry
        href="/games"
        title="Games"
        body="[Selection in next menu]"
      />
      <MenuEntry
        href="https://linkedin.com/in/nhaugen/"
        title="LinkedIn"
        body="Do Business Where Business Is Done"
      />
      <MenuEntry
        href="https://github.com/nilsjha/"
        title="GitHub"
        body="I use this for cloud hosting code"
      />
      <MenuEntry
        href="http://www.ntnu.no/alesund"
        title="Education"
        body="Computer Science"
      />
      <MenuSpacer />
      <MenuEntry
        href="https://en.sognefjord.no/"
        title="Sognefjord"
        body="Norways greatest nature!"
      />
      <MenuEntry
        href="/about"
        title="About"
        body="I'm a software dev from norway"
      />
      <MenuSpacer />
    </MenuList>
    </Screen>
  <Footer />
</Layout>
