---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/Banner.astro";
import MenuEntry from "@components/MenuEntry.astro";
import Footer from "@components/Footer.astro";
import MenuSpacer from "@components/MenuSpacer.astro";
import MenuList from "@components/MenuList.astro";
---

<Layout
  title="volvo - nilsjha.github.io"
  overrideClass="bg-black text-yellow-400"
>
  <main class="grow py-20 container mx-auto">
    <Banner
      org="Tech"
      dept="Volvo"
      title="volvo"
      help1=""
      help2=""
      overrideClass="text-green-800"
    />
    <MenuList overrideClass="text-[#CED9E5] text-blue-600">
      <MenuEntry
        href="/"
        title="Hovudmeny (Home)"
        body="RETURNER til forrige side"
      />
      <MenuSpacer />
      <MenuEntry href="/volvo/vin" title="VIN Decoder" body="" />
      <MenuEntry href="/volvo/#" title="Repair guides" body="" />
      <MenuEntry href="/volvo/#" title="Parts catalogue" body="" />
      <MenuSpacer />
      <MenuEntry href="" title="Ext link" body="" />
      <MenuEntry href="" title="Ext link" body="" />
    </MenuList>
  </main>
  <Footer home={true} />
</Layout>
