---
import Layout from "@layouts/Layout.astro";
import Banner from "@components/Banner.astro";
import MenuEntry from "@components/MenuEntry.astro";
import Footer from "@components/Footer.astro";
import MenuSpacer from "@components/MenuSpacer.astro";
import MenuList from "@components/MenuList.astro";
---

<Layout title="volvo - nilsjha.github.io">
  <main class="grow py-20 container mx-auto">
    <Banner
      org="Hobbies"
      dept="Volvo"
      title="volvo"
      help1=""
      help2=""
    />
    <MenuList>
      <MenuEntry
        href="/"
        title="Hovudmeny (Home)"
        body="RETURNER til forrige side"
      />
      <MenuSpacer />
      <MenuEntry href="/volvo/#" title="VIN Decoder" body="" />
      <MenuEntry href="/volvo/#" title="Repair guides" body="" />
      <MenuEntry href="/volvo/#"title="Parts catalogue" body="" />
      <MenuSpacer />
      <MenuEntry
        href=""
        title="Ext link"
        body=""
      />
      <MenuEntry
        href=""
        title="Ext link"
        body=""
      />
    </MenuList>
  </main>
  <Footer />
</Layout>
