---
interface Props {
  home?: boolean;
  separator?: boolean;
}

const { home = false, separator = false } = Astro.props;
const today = new Date();
---

<footer
  class="
  text-base
  md:text
  shrink-0
  my-4
  px-20
  uppercase
  tracking-widest
  flex flex-row gap-4"
>
  <span class="flex flex-row gap-1">
    {today.getFullYear()}
  </span>
    <span class="">■</span>
  <span class={home ? "" : "hidden"}>
    <a class="_hotlink" href="/">main menu</a></span
  >
  <span class={home ? "hidden" : "block"}>
    <span class="flex flex-col md:flex-row md:gap-4">
     Nils Jarle Haugen<span class="text-slate-400 hover:animate-degauss"
      ><a
        href="https://www.fjordnorway.com/en/destinations/alesund--geiranger"
        class="hover:animate-degauss"
        target="_blank">ålesund</a
      ></span
    > norway
    </span>
  </span>
  <div class="max-md:hidden">
    <span class={separator ? "" : "hidden"}></span>
    <slot />
  </div>
</footer>
