---
interface Props {
  framesource: string;
  height?: number;
  width?: number;
  title?: string;
  description?: string;
  href?: string;
}

const {
  framesource,
  height = 384,
  width = 560,
  title,
  description,
} = Astro.props;
---

<div class="md:hidden uppercase text-slate-700 pt-4 text-center">
  <h1 class="text-3xl text-cyan-800">warning</h1>
   mobile browsers <span class="text-slate-600">*will*</span>
   not work
</div>

<iframe
  class=""
  src={framesource}
  width={width}
  height={height}
  frameborder="0"
  webkitallowfullscreen="true"
  mozallowfullscreen="true"
  allowfullscreen
>
</iframe>
