---
interface Props {
  title: string;
  body: string;
  href: string;
  active?: boolean;
  hideOnMobile?: boolean;
}

const {
  href = "http://www.vg.no",
  title = "Verdens Gang",
  body = "Norsk nettavis.",
  active = false,
  hideOnMobile = false,
} = Astro.props;
---

<li
  class=" group  font-mono font-bold text-cyan-400 md:grid grid-cols-2 justify-center items-center"
>
  <div class="col-start-1 flex flex-row justify-start gap-1">
  <aside
    class="invisible group-hover:visible group-active:visible font-black text-red-500 animate-flash justify-self-end"
    id="red-arrow"
    aria-hidden="true"
  >
    {"==>"}
  </aside>
  <div class="">
    <a href={href}>
      <h2>{title}</h2>
    </a>
  </div>
  </div>
  <div class="justify-self-start col-start-2  max-md:hidden">
    <a href={href}>
      <p class="overflow-hidden whitespace-nowrap text-ellipsis">{body}</p>
    </a>
  </div>
</li>

<style></style>
