---
interface Props {}
---

<li
  class="group max-md:text-xl max-md:grid-cols-5 font-mono font-bold text-cyan-400 grid grid-cols-12 justify-center gap-2"
>
  <div
    class="col-start-3 max-md:col-start-1 invisible justify-self-end"
    id="menu-blank-left"
    aria-hidden="true"
  >
    {"==>"}
  </div>
  <div class="col-span-3 max-md:col-start-2"></div>
  <div class="col-end-11 col-span-4 max-md:hidden"></div>
</li>
