---
interface Props {
  title: string;
  description: string;
  href: string;
}

const {href,title,description } = Astro.props;
---

<li class="menu-entry">
  <a href={href}>
  <h2>{title}</h2>
  <p>{description}</p>
  </a>
</li>

<style>
* {
  color:green;
}
</style>


