---
interface Props {}
---

<li
  class="group font-mono font-bold text-cyan-400 grid grid-cols-2 justify-center gap-2"
>
  <div
    class="col-start-1 col-span-2 invisible"
    id="menu-blank-left"
    aria-hidden="true"
  >
    <br />
  </div>
</li>
