---
interface Props {}
const {} = Astro.props;

---
<div class="md:w-2/3 w-1/1 mx-auto flex flex-col grow items-center justify-center p-2"
      transition:name="screen-wrapper-box"
      transition:animate="fade"
>
    <slot />
</div>
