---
import { ViewTransitions } from "astro:transitions";
import { returnOnCondition } from "@utils/ui";

interface Props {
  title: string;
  overrideClass?: string;
}

const { title, overrideClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="I'm a software developer from Norway" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class={returnOnCondition(
      overrideClass !== undefined,
      overrideClass,
      "bg-black text-white bg-gradient-to-br from-stone-950",
      "min-h-screen min-w-full flex flex-col font-mono font-bold",
    )}
  >
    <slot />
  </body>
</html>
